* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* header */
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-box {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	height: 70px;
	float: left;
}
.navi {
	list-style: none;
	float: right;
}
.navi-list {
	font-size: 16px;
	color: #fafafa;
	padding: 0 30px;
	float: left;
	line-height: 70px;
}

/* main-visual */
.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover
}
.main-sentence {
	padding-top: 200px;
	text-align: center;
}
.main-title {
	font-size: 64px;
	color: #fafafa;
	margin-bottom: 10px;
}
.main-text {
	font-size: 20px;
	color: #fafafa;
}

/* Portfolio */
.portfolio {
	width: 100%;
	background-color: #eceff1;
	text-align: center;
}
.pf-title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}
.pf-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin: 8px auto 0 auto;
}
.pf-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.pf-imagebox {
	width: 920px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.pf-image {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
	margin-top: 10px;
	margin-right: 10px;
}
.pf-image:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.pf-image:nth-child(2) {
	background-image: url(img/websuku.png);
}
.pf-image:nth-child(3) {
	background-image: url(img/write.jpg);
}
.pf-image:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.pf-image:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.pf-image:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}
.pf-image:nth-child(-n+3) {
	margin-top: 0;
}
.pf-image:nth-child(3n) {
	margin-right: 0;
}

/* feature */
.feature {
	text-align: center;
	padding: 90px 0;
}
.f-title {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.f-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin: 0 auto;
}
.f-text {
	padding: 30px 0;
}
.f-content {
	width: 320px;
	float: left;
	margin-right: 10px;
}
.f-contentbox {
	width: 980px;
	margin: 0 auto;
}
.f-content:last-child {
	margin-right: 0;
}
.f-content i {
	font-size: 60px;
}
.fc-title {
	padding: 10px 0;
}
.fc-text {
	text-align: left;
}

/* Profile */
.profile {
	width: 100%;
	padding: 90px 0;
	text-align: center;
	background-color: #eceff1;
}
.pro-title {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.pro-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin: 0 auto;
}
.pro-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.pro-detail {
	width: 1024px;
	margin: 0 auto;
}
.pro-img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
	margin: 0 131px;
	float: left;
}
.pro-sentence {
	width: 512px;
	text-align: left;
	float: left;
}
.myname {
	font-size: 20px;
	margin-bottom: 5px;
}
.pro-name-text {
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}
.myskills {
	font-size: 20px;
	margin-bottom: 5px;
}
.skills-text {
	font-size: 16px;
	color: #000000;
}

/* Contact */
.contact {
	width: 800px;
	margin: 90px auto;
	text-align: center;
}
.con-title {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.con-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin: 0 auto;
}
.con-text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}
.con-box {
	width: 800px;
	margin: 0 auto;
}
.con-listbox {
	width: 400px;
	float: left;
}
.con-list {
	text-align: left;
	margin: 0 auto;
	display: inline-block;
}
.mail {
	font-size: 20px;
	padding-bottom: 5px;
}
}
.tell {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
}
.con-snsbox {
	width: 400px;
	float: left;
}
.con-sns {
	text-align: left;
	margin: 0 auto;
	display: inline-block;
}
.sns {
	font-size: 20px;
	padding-bottom: 5px;
}
.con-sns i {
	font-size: 50px;
	float: left;
	margin-right: 20px;
	display: inline-block;
}
.con-sns i:last-child {
	margin-right: 0;
}

/* footer */
.footer-bar {
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	text-align: center;
}
.footer-text {
	font-size: 16px;
	color: #fafafa;
	line-height: 60px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
	/* header */
	header {
		height: 50px;
	}
	.header-box {
		width: 90%;
	}
	.logo {
		height: 50px;
	}
	.navi {
		display: none;
	}
	.humberger-menu {
		width: 40px;
		height: 40px;
		float: right;
		border: 1px solid #fafafa;
		margin: 5px 0;
	}
	.list-bar {
		width: 25px;
		height: 3px;
		display: block;
		background-color: #fafafa;
		margin: 0 auto;
	}
	.list-bar:first-child {
		margin-top: 9px;
		margin-bottom: 5.5px;
	}
	.list-bar:last-child {
		margin-top: 5.5px;
		margin-bottom: 9px;
	}
	/* main-visual */
	.main-visual {
	background-image: url(img/code.png);
	background-size: cover
	}
	.main-title {
		font-size: 40px;
	}
	.main-text {
		font-size: 18px;
	}
	/*portfollio*/
	.portfollio {
		width: 90%;
		padding: 0 5%;
	}
	.pf-imagebox {
		width: 90%;
	}
	.pf-image {
		float: none;
		margin: 0 auto;
	}
	.pf-image:nth-child(3n) { /* 3の倍数の要素中央寄せ */
		margin: 0 auto;
	}
	.pf-image:nth-child(odd) { /* 2,4,6番目の画像のみ表示 */
		display: none;
	}
	/* Feature */
	.feature {
		width: 90%;
		margin: 0 auto;
	}
	.f-contentbox {
		width: 90%;
	}
	.f-content {
		float: none;
		margin: 0 auto 10px auto;
	}
	.f-content:last-child {
		margin: 0 auto;
	}
	/* Profile */
	.profile {
		width: 100%;
		padding: 90px 5%;
	}
	.pro-detail {
		width: 100%;
	}
	.pro-img {
		float: none;
		margin: 0 auto;
	}
	.pro-sentence {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	/* Contact */
	.contact {
		width: 100%;
	}
	.con-listbox {
		width: 100%;
		float: none;
	}
	.con-snsbox {
		width: 100%;
		margin-top: 20px;
	}
}