* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	margin: 50px auto;
	width: 960px;
}

.step-box {
	width: 300px;
	border: 1px solid #eee;
	float: left;
	margin-right: 30px;
	position: relative;
}
.step-box:last-child {
	margin-right: 0;
}

.step-img1 {
	width: 280px;
	height: 150px;
	margin: 10px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}

.step-img2 {
	width: 280px;
	height: 150px;
	margin: 10px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}

.step-img3 {
	width: 280px;
	height: 150px;
	margin: 10px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
}

.title,
.sentence {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.step-num {
	padding: 3px;
	background-color: orange;
	color: white;
	position: absolute;
}

/* レスポンシブ対応　768px以下の設定 */
@media screen and (max-width:768px) {
	main {
		width: 100%;
	}
	.step-box {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
		margin-bottom: 20px;
	}
	.step-box:last-child {
		margin-bottom: 0;
	}
	.step-img1 {
		width: 96%;
		padding-top: 51.4%;
		margin: 2%;
	}
	.step-img2 {
		width: 96%;
		padding-top: 51.4%;
		margin: 2%;
	}
	.step-img3 {
		width: 96%;
		padding-top: 51.4%;
		margin: 2%;
	}
	.title {
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: 2%;
		font-size: 4.5vw;
		padding-top: 2%;
	}
	.sentence {
		margin-right: 2%;
		margin-left: 2%;
		margin-bottom: 2%;
		font-size: 3.5vw;
	}
	.step-num {
		padding: 1.5%;
		font-size: 3vw;
	}
}